.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

input[type="text"] {
  padding: 10px;
  border-radius: 4px;
}

img {
  padding-right: 10px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 10px 0px;
  margin-top: 5px;
  background-color: #25373d;
  font-family: Arial;
  color: white;
  width: 300px;
  white-space: normal;
}
li {
  display: flex;
  align-items: center;
}
